<section class="background-order">
<div class="navbar justify-content-center bg-dark color background-order">
 <h4>Mis Pedidos</h4>
</div>

  <div class="form-group margin-top">

    <div class="text-center p-1 mb-2 font-weight-bold margin-bottom bg-warning" id="inputGroup-sizing-sm" >FECHA : {{ fecha | date: 'short'}}</div>
    <div class="text-center p-1 mb-2 font-weight-bold margin-bottom bg-warning" id="inputGroup-sizing-sm" >N° DE ATENCIÓN: 00{{numeroDePedidos}}</div>
   
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="bg-dark color input-group-text" id="inputGroup-sizing-sm">RESPONSABLE DE MESA</span>
      </div>
      <input [(ngModel)]="mesero" name="mesero" required type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="bg-dark color input-group-text" id="inputGroup-sizing-sm">CLIENTE</span>
        </div>
        <input [(ngModel)]="cliente" name="cliente" required type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="bg-dark color input-group-text" id="inputGroup-sizing-sm">N° MESA</span>
        </div>
        <input [(ngModel)]="mesa" name="mesa" required type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

  </div>


<table class="table table-hover">
  <thead>
    <tr class="bg-dark text-white">
      <th scope="col">#</th>
      <th scope="col">orden</th>
      <th scope="col">p.unt.</th>
      <th scope="col">cant</th>
      <th scope="col">sub</th>
      <th scope="col">x</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let lista of pedidoDelDia; let indice = index">
      <th scope="row">{{indice+1}}</th>
      <td><p class="">{{lista.nombre}}</p></td>
      <td>${{lista.precio}}</td>
      <td><input type="number" style="max-width:50px" [ngModel]="lista.cantidad" min="1" max="5" #nuevaCantidad (click)="cantPedido(lista,nuevaCantidad.value)"></td>
      <td>{{lista.subTotal}}</td>
      <td><button (click)="eliminar(lista.id)">x</button></td>
    </tr>
       
  </tbody>

     
</table>

  
  <h1 type="text" class="font-weight-bold form-control text-right" aria-label="Amount (to the nearest dollar)" >{{ totalProducto | currency }}</h1>
  

<button type="button" class="margin-table btn btn-warning btn-lg btn-block font-weight-bold " (click)="enviarData()">ENVIAR PEDIDO</button>
</section>