<div class="navbar justify-content-center bg-dark color">
 <h4>Mis Pedidos</h4>
</div>
<form>
  <div class="form-group margin-top">
    <label for="formGroupExampleInput">Cliente</label>
    <input type="text" class="form-control" id="cliente" placeholder="Nombre del cliente">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Mesa</label>
    <input type="number" class="form-control" id="mesa" placeholder="Numero de mesa">
  </div>
</form>

<table class="table table-hover table-dark table-responsive">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">pedido</th>
      <th scope="col">precio</th>
      <th scope="col">cantidad</th>
      <th scope="col">eliminar</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <th scope="row">1</th>
      <td>café americano cn jamon y queso </td>
      <td>5</td>
      <td>3</td>
      <td>x</td>
    </tr>
  
  </tbody>
</table>