<div class="navbar justify-content-center bg-dark color">
 <h4>Mis Pedidos</h4>
</div>

  <div class="form-group margin-top">
    <p #date >Fecha : {{ fecha | date: 'short'}}</p>
    <p># Orden: {{numeroDePedidos}}</p>
    <label for="formGroupExampleInput">Cliente</label>
    <input  #cliente type="text" class="form-control" id="cliente" placeholder="Nombre del cliente">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Mesa</label>
    <input  #mesa  type="number" min="0" max="15" class="form-control" id="mesa" placeholder="Numero de mesa">
  </div>

<table class="table table-hover table-responsive">
  <thead>
    <tr class="bg-dark text-white">
      <th scope="col">#</th>
      <th scope="col">orden</th>
      <th scope="col">p.unt.</th>
      <th scope="col">cant</th>
      <th scope="col">sub</th>
      <th scope="col">x</th>
    </tr>
  </thead>
  <tbody>
    
    <tr *ngFor="let lista of pedidoDelDia; let indice = index">
      <th scope="row">{{indice+1}}</th>
      <td><p class="">{{lista.nombre}}</p></td>
      <td>${{lista.precio}}</td>
      <td><input type="number" style="max-width:50px" [ngModel]="lista.cantidad" min="1" max="5" #nuevaCantidad (click)="cantPedido(lista,nuevaCantidad.value)"></td>
      <td>{{lista.subTotal}}</td>
      <td><button (click)="eliminar(lista.id)">x</button></td>
    </tr>
       
  </tbody>

     
</table>

  
  <h1 type="text" class="font-weight-bold form-control text-right" aria-label="Amount (to the nearest dollar)" >{{ totalProducto | currency }}</h1>
  

<button type="button" class="margin-table btn btn-success btn-lg btn-block " (click)="enviarData(cliente.value, mesa.value, fecha)">Enviar orden a cocina</button>