 <!-- <div class="navbar navbar-light   flex-column flex-sm-row bg-dark">
    <button class="btn btn-outline-warning" (click)="filtrarMenu('desayuno')">Desayuno</button>
    <button class="btn btn-outline-warning"  (click)="filtrarMenu('hamburguesa')">Hamburguesas</button>
    <button class="btn btn-outline-warning"  (click)="filtrarMenu('bebidas')">Bebidas</button>
    <button class="btn btn-outline-warning"  (click)="filtrarMenu('adicional')">Adicional</button>
    <button class="btn btn-outline-warning"  (click)="filtrarMenu('acompañamiento')">Acompañamiento</button>
</div>-->

<div class="btn-group btn-group-toggle" data-toggle="buttons">
    
      <button  class="btn btn-secondary active" type="radio" name="options" id="option1" autocomplete="off"  (click)="filtrarMenu('desayuno')" checked> Desayuno
      </button>


      <button class="btn btn-secondary" type="radio" name="options" id="option2" autocomplete="off" (click)="filtrarMenu('hamburguesa')"> Hamburgesas
      </button>

   
      <button class="btn btn-secondary" type="radio" name="options" id="option3" autocomplete="off" (click)="filtrarMenu('bebidas')"> Bebidas
      </button>



        <button class="btn btn-secondary" type="radio" name="options" id="option4" autocomplete="off" (click)="filtrarMenu('adicional')"> Adicionales
    </button>


    
        <button class="btn btn-secondary" type="radio" name="options" id="option5" autocomplete="off" (click)="filtrarMenu('acompañamiento')"> Acompañamiento
  </button>

  </div>
    


<!--mostrar data por default-->


      <div class="container cursor">
 
        <hr class="mt-2 mb-5">
         <div class="row text-center text-lg-left">
           <div *ngFor="let menu of data" class="col-lg-3 col-md-4 col-6" (click) = "menuDesayunoData(menu)">
            <div class="card bg-dark text-white">
              <img src="{{menu.img}}" class="card-img" alt="imagen de menú">
              <div class="card-img-overlay opacity">
                <p class="font-weight-bold text-uppercase text-center">{{menu.nombre}}</p><br>
                
              </div>
          </div>
          
      </div>