<div class="navbar navbar-light bg-dark">
        <button class="btn btn-outline-warning" (click)="filtrarMenu('desayuno')">Desayuno</button>
        <button class="btn btn-outline-warning"  (click)="filtrarMenu('almuerzo')">Almuerzo</button>
      </div>




      <div class="container cursor">
 
        <hr class="mt-2 mb-5">
         <div class="row text-center text-lg-left">
           <div *ngFor="let menu of data" class="col-lg-3 col-md-4 col-6" (click) = "menuDesayunoData(menu)">
            <div class="card bg-dark text-white">
              <img src="{{menu.img}}" class="card-img" alt="imagen de menú">
              <div class="card-img-overlay opacity">
                <p class="font-weight-bold text-uppercase text-center">{{menu.nombre}}</p>
              </div>
          </div>
          
      </div>