<header class="masthead ">
   
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
              <h1 class="display-1 font-weight-light text-white font-burger">Burger Queen</h1>
              <p class="lead text-white">"La verdadera hamburguesa"</p>
              <a routerLink="/menu" class="btn btn-dark btn-lg">Iniciar ventas</a>
            </div>
          </div>
        </div>
 
      </header>
      
      <!-- Page Content -->